<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fairy.system.dao.RoleDao">

    <select id="findById" parameterType="java.lang.Integer" resultType="com.fairy.system.model.Role">
		select *
		from sys_role
		where id = #{id}
	</select>

    <select id="findByCondition" resultType="com.fairy.system.model.Role">
        select *
        from
        sys_role
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="roleName != null and roleName != ''">and role_name = #{roleName}</if>
            <if test="roleSign != null and roleSign != ''">and `role_sign` = #{roleSign}</if>
            <if test="remark != null and remark != ''">and `remark` = #{remark}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
        </where>
    </select>


    <insert id="save" parameterType="com.fairy.system.model.Role">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null">
                `role_name`,
            </if>
            <if test="roleSign != null">
                `role_sign`,
            </if>
            <if test="remark != null">
                `remark`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleName != null">
                #{roleName},
            </if>
            <if test="roleSign != null">
                #{roleSign},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.fairy.system.model.Role">
        update sys_role
        <set>
            <if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
            <if test="roleSign != null and roleSign != ''">`role_sign` = #{roleSign},</if>
            <if test="remark != null and remark != ''">`remark` = #{remark},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
		delete from sys_role where id = #{id}
	</delete>

</mapper>